.allUsers{
  width: auto;
  height: 55px;
  margin: 10px;
  padding: 10px;
  float: left;
}

.user{
  height: 50px;
  margin: 10px auto;
  padding: 10px;
  border: none;
  border-bottom: dashed 1px;
  font-size: 2em;
  width: 100%;
}

.userPic {
  width: 300px;
  height: auto;
}

@media only screen and (max-width: 767px) {
  .user{
    width: 90%;
  }
}

@media only screen and (max-width: 480px) {
  .user{
    width: 80%;
  }
}