.lineContainer{
}

.userLine{
  width: auto;
  height: 55px;
  margin: 10px;
  padding: 10px;
  float: left;
}

.lineForm{
  margin: 0px auto;
}

.lineInput{
  height: 50px;
  margin: 10px auto;
  padding: 10px;
  border: none;
  border-bottom: dashed 1px;
  font-size: 2em;
  width: 100%;
}

.lineInput::placeholder {
  font-size: 18px;
  font-weight: 400;
}

@media only screen and (max-width: 767px) {
  .lineInput{
    width: 90%;
  }
}

@media only screen and (max-width: 480px) {
  .lineInput{
    width: 80%;
  }
}
