.lobby {
  text-align: left;
  padding-top: 20px;
}

.accordion {
  text-align: center;
}

.storyNames {
}

.numberOfAuthors {
}

.toggleDisplayButton{
  text-align: center;
}

a:hover {
  color: #999 !important;
}
