.lobby {
  text-align: left;
  padding-top: 20px;
}

.accordion {
  text-align: center;
}

.newStoryButton {
  text-align: center;
}

.completeToggleButton {
  text-align: center;
}

.tableHeaderRow {
  padding-top: 15px;
}
