.navbarWrap {
  height: 80px;
  margin: 0;
  padding: 0;
  background-color: #6CAFCC;
  box-shadow: 3px 3px 0px #d7d7d7;
}

.navBarLogo {
  text-align: left;
  font-size: 3.6em;
  padding-top: 5px;
}

.line2 {
  font-family: 'Caveat', cursive;
}

.after {
  display: inline-block;
  padding-right: 5px;
  font-family: 'Nothing You Could Do', cursive;
  font-size: 0.8em;
}

.line1 {
  font-family: 'Caveat', cursive;
}

.navBarButton {
  padding-top: 18px;
  text-align: right;
}

.finishedStoryButton {
  padding-top: 18px;
  
}

@media only screen and (max-width: 767px) {
  .navbarWrap {
    height: 130px;
  }
  .navBarLogo {
    text-align: center;
    font-size: 3.6em;
  }
  .navBarButton {
    padding-top: 0px;
    text-align: center;
  }
}
