.navbarWrap {
  height: 80px;
  margin: 0;
  padding: 0;
  background-color: #6CAFCC;
  box-shadow: 3px 3px 0px #d7d7d7;
}

.navBarLogo {
  display: inline-block;
  text-align: left;
  font-size: 3.6em;
}

.navBarButton {
  display: inline-block;
  text-align: right;
}
