.userName {
  padding-left: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 40px;
  font-weight: bold;
}

.userPhoto {
  width: 300px;
  height: auto;
  padding-left: 30px;
}

.storyHeader {
  font-weight: bold;
  font-size: 40px;
  padding-top: 15px;
  text-align: center;
  padding-bottom: 25px;
}


.storyLists {
  font-size: 25px;
  padding-left: 30px;
  margin-bottom: 20px;
  position:relative;
}

.singleStory{
}
