.userName {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 40px;
  font-weight: bold;
}

.userPhoto {
  width: 300px;
  height: auto;
}

.storyHeader {
  font-weight: bold;
  font-size: 40px;
  padding-top: 15px;
  padding-bottom: 25px;
}


.storyLists {
  font-size: 25px;
  margin-bottom: 20px;
  position: relative;
  /*text-overflow: ellipsis;*/
}

.logoutButton{
  padding-top: 30px;
}
