.storyEntryWrap {
  padding: 12px 0 10px 0;
  margin: 10px 0;
  background-color: #fff;
  border: solid 1px #d7d7d7;
  border-radius: 5px;
  box-shadow: 3px 3px 0px #d7d7d7;
}

.storyEntryTitle {
  font-size: 1.2em;
}

.storyEntryAuthors {
  font-size: 1.2em;
}

.storyEntryAuthorsSlash {
  color: grey;
}

.storyEntryJoin {
}

@media only screen and (max-width: 767px) {
  .storyEntryJoin {
    margin: 10px 5px 5px 5px;
  }
}
