.storyContainer {
  background-color: #D3DDDC;
  border-radius: 20px;
  margin: 20px;
  box-shadow: 3px 3px 0px #d7d7d7;
  height: auto;
  padding-bottom: 100px;
}

.title {
  padding: 60px 0 10px 0;
  text-align: center;
  font-size: 50px;
}
